@import 'src/scss/_abstract';
input {
    @extend .input-field;
    height: 48px;
    width: 330px;
    font-size: 1.2rem;
    padding-left: 20px;
    outline: none;
    &::placeholder {
      color: $grey-placeholder;
    }

    @media screen and (max-width: 500px) {
        width: 80%;
      }
      @media screen and (min-width: 500px) and (max-width: 768px) {
        width: 60%;
      }
  }
